
@font-face {
    font-family: FireSans;
    src: url("../font.otf") format("opentype");
}

.color0 { color : #FFFFFF; }
.color1 { color : #c4e2ff; }
.color2 { color : #9bceff; }
.color3 { color : #4FA3F2; }
.color4 { color : #217BD1; }
.colorFont { color : #042C54; }

body {

	background : #FFFFFF;
}

div.testside {
	width:50%;
	position:absolute;
	top:50%;
	left:0;
	transform:translate(-1px,-50%);
	border-top:1px solid #042C54;
}

div.resultside {
	width : 50%;
	position:absolute;
	top:50%;
	right:0;
	transform:translate(1px,-50%);
	border:1px solid #042C54;
}

div.coreblock {
	position: relative;
	top:0;
	left:0;

	width : 100%;
}

div.block {
	position:relative;
	width : 100%;
	min-height : 32px;

	text-align: center;
	border-bottom : 1px solid #042C54;
	border-right : 1px solid #042C54;
}

div.title {
	font-family: FireSans;
	color:black;

	line-height : 32px;
	vertical-align: middle;
	text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	cursor:pointer;
}
div.title:hover {
	background: #C4E2FF;
	/*color : white;*/
}

div.button_new {
	font-family: FireSans;
	color:black;

	line-height : 32px;
	vertical-align: middle;
	text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	cursor:pointer;
}
div.button_new:hover{
	background: lightgreen;
}
div.button_compile {
	font-family: FireSans;
	color:black;

	line-height : 32px;
	vertical-align: middle;
	text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	cursor:pointer;
}
div.button_compile:hover{
	background:#4FA3F2;
}

textarea.code {
	/*display:none;*/
	width : 90%;
	min-height : 256px;
	margin-bottom: 12px;
	margin-top:5px;
    resize: none;
}

button.remove {
	width:24px;
	height:24px;
	text-align: center;
	line-height: 24px;
	vertical-align: middle;
	background:none;
	border:none;

	position:absolute;
	top:0;
	right:0;
	outline:none;
}
button.remove:hover{
	/*background:#217BD1;*/
	color:white;
}
