div#main{
	width: 60%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	background: white;
	border-left: 10px solid #e3e4e9;
	border-right: 10px solid #e3e4e9;
	top: 0px;
	left: 0px;
	right: 0px;
	--background-color: #e3e4e9;
	position: absolute;
}
div#logo{
	top:0px;
	left:0px;
	position:absolute;
	color: gray;
	border-bottom: 10px solid #e3e4e9;
	width: 20%;
	font-family: 'CF Spaceship'; /*a name to be used later*/
  src: url('https://Borisas.github.io/assets/font.ttf'); /*URL to font*/
}
div#menu{

}
