<html>
	<head>
		<title>{{ site.title }} :: {{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="assets/themes/Boris/css/design.css">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<div id="main">{{ content }}</div>
		<div id="logo"><b>{{ site.title }}<b></div>
		<div id="menu">
			<a href = " {{ HOME_PATH }}" id="button">Home</a><br>
			<a href = "" id = "button">Archive</a><br>
			<a href = "" id = "button">Tags</a><br>
			<a href = "" id = "button">Pages</a><br>
			<a href = "" id = "button">About</a><br>
		</div>
	</body>
</html>
