
.display {

  position: absolute;
  display: block;
  top:50%;
  left:50%;

  transform: translate(-50%,-50%);
  width:60%;
  height: 80%;
}

.visual{
  display:block;
  /* border:1px solid black; */
  background: black;
  height:70%;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.coding {
  margin-top:2px;
  display : 'block';
}
.input {
  display : inline;
  height:27%;
  width:49%;
  border: 1px solid black;
  resize: none;
}
.demo {
  display :inline-block;
  height:27%;
  width:49%;
  border:1px solid black;
  overflow:auto;
}

.button_holder {
  display:block;
  height:3%;
  width:100%;
}

button {
  margin-left:3%;
  width:29%;  height: 100%;
  display:inline;

  border : 1px solid black;
  background : white;
}