@font-face{
  font-family: 'Logo-font'; /*a name to be used later*/
  src: url('https://Borisas.github.io/assets/themes/Boris/other/font.ttf'); /*URL to font*/
}
div#main{
	width: 70%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	background: white;
	border-left: 0.7vw solid #e3e4e9;
	border-right: 0.7vw solid #e3e4e9;
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	z-index: 2;
}
div#logo{
	top:0px;
	left:0px;
	position:absolute;
	color: gray;
	border-bottom: 0.7vw solid #e3e4e9;
	width: 20%;
	font-family: 'Logo-font';
	font-size: 1.9vw;
}
div#menu{
	position: absolute;
	top:150px;
	z-index: 0;
	width:15%;
	height: 200px;
	left:0px;
	line-height: 30px;
}
a#button{
	background-color:white;
	display:block;
	height: 30px;
	width:100%;
	vertical-align:middle;
	text-align: center;
	line-height: 30px;
	left:0px;
	position: absolute;
	text-decoration: none;
	color: #a8a8a8;
	font-size: 2vw;
}
a#button:hover{
	background-color: #e3e4e9;
}
